 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Open Section-4                                                                                   Open   Section-4                                                                                                 Open Section-4 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
 .teamss-text {
    @extend %center-text; 
  }
  
  .team {
    padding: 94px 0;
    @extend %team-background; 
  }
  
  .team-main {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  
  .item-last {
    @extend %team-item; 
    text-align: center;
  }
  
  figure {
    margin: 0;
    padding: 0;
  }
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Close Section-4                                                                                  Close   Section-4                                                                                               Close Section-4 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
