 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Open Section-3                                                                                   Open   Section-3                                                                                                 Open Section-3 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
 .texsstt {
  @extend %center-text;
}

.imgssa {
  @include flex-center(row, space-between);
  @extend %center-text;
  margin-bottom: 94px;
}

.item {
  position: relative;
  height: 294px;

  .description {
    @extend %description-style;
  }
}

.teamss-text {
  font-size: 35px;
  padding-bottom: 20px;

  &.small {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.it-s3-or4-i-forgot {
  font-size: 14px;
}
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Close Section-3                                                                                  Close   Section-3                                                                                               Close Section-3 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
