 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Open Section-1                                                                                       Open   Section-1                                                                                             Open Section-1 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
 main {
    padding: 94px 0;
  }
  
  #button-top,
  #button-top2,
  #button-top3,
  #button-top4,
  #button-top5 {
    border-radius: 3px;
  }
  
  #button-top {
    width: 73px;
    height: 38px;
  }
  
  #button-top2 {
    width: 125px;
    height: 38px;
  }
  
  #button-top3 {
    width: 112px;
    height: 38px;
  }
  
  #button-top4 {
    width: 103px;
    height: 38px;
  }
  
  #button-top5 {
    width: 130px;
    height: 38px;
  }
  
  .first0list {
    @include flex-center(row, center, center);
  }
  
  .button-top,
  .button-dfdfdfd {
    border: none;
    background: $background-color;
    color: black;
    font-size: 17px;
    border-radius: 1px;
    font-weight: 500;
    margin-bottom: 20px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      background-color: $button-color;
      color: $text-color;
      font-weight: 500;
      box-shadow: 1px 2px 5px gray;
    }
  }
  
  .button-top {
    margin-right: 8px;
  }
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Close Section-1                                                                                  Close   Section-1                                                                                               Close Section-1 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
